{
	margin: 0;
	padding: 0;
}

.buttons {
	display: block;
	width: 400px;
	margin: auto;
	text-align: center;
}

.start, .clear {
margin: 30px 40px 0 40px;
font-size: 20px;
}

#pause {
	background-color: #20B2AA;
	border-color: #008B8B;
}

#continue {
	background-color: #ADFF2F;
	border-color: #556B2F;
}

.container {
	height: 800px;
}

.timer {
	margin: auto;
	margin-top: 20px;
	padding-top: 50px;
	background-color: #F0E68C;
	height: 250px;
	width: 500px;
	text-align: center;
	display: block;
	border: solid 3px #FFD700;
	border-radius: 30px;
}

.timerMain {
font-size: 100px;
}

.msc {
	display: block;
	text-align: right;
	margin-right: 80px;
	font-weight: bold;
	font-size: 25px;
}